@model CategoryCreationSharedVM

<form asp-controller="Category" asp-action="CreateCategory">


    <div class="form-group">
        <label> <span asp-validation-for="@Model.Category.CategoryName" class="text-danger">    </span>  </label>
        <input asp-for="Category.CategoryName" class="form-control" placeholder="İsim giriniz" />
    </div>



    <br />

    <div class="form-group">
        <label> <span asp-validation-for="@Model.Category.Description" class="text-danger">    </span>  </label>
        <input asp-for="Category.Description" class="form-control" placeholder="İsim giriniz" />
    </div>

 

    <br />

    <button class="btn btn-primary">
        Ekle
    </button>


</form>